* {
	margin:0;
	padding:0;
	border: 0;
}

body {
    width: 500px;
    height: auto;
	margin-top: 30px;
	margin-left: 40px;
	padding: 4px;
    background-color:#f8f8f8;
}

h1, h2, h4, p {
    padding: 5px;
}

li {
    background-color: antiquewhite;
}

input {
    width: auto;
    border: 1px solid black;
}

input:focus {
    outline:none;
}

button {
    width: 80px;
    height: 25px;
    border-radius: .3em;
}